@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.cantainer {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
