@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #ff7c4e;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.block {
  background-color: #5eaf8b;
  height: 150px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* Header */
.header {
  min-height: 940px;
  padding-top: 54px;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url('../img/header-bottom.svg');
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
  position: relative;
  z-index: 1;
}

.header__row {
  display: flex;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  width: calc(100% - 10px);
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__auth {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.nav__btn {
  padding: 13px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
}

.nav__btn:hover {
  color: #fade3e;
  transition: color 0.2s ease-in;
}

.nav__btn:active {
  position: relative;
  top: 1px;
}

/* Logo */
.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

/* Header content */
.header__content {
  position: relative;
  z-index: 1;
  max-width: 592px;
}

.header__badge {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  padding: 11px 30px;
  margin-bottom: 7px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.header__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 68px;
}

.header__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 55px;
  line-height: 82px;
}

.header__btn {
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #fefefe;
  padding: 27px 48px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
}

.header__btn:hover {
  color: #fade3e;
  transition: color 0.2s ease-in;
}

.header__btn:active {
  position: relative;
  top: 1px;
}

/* Header image */
.header__image {
  position: relative;
  flex-grow: 1;
  z-index: 0;
}

.header__image img {
  position: absolute;
  top: -190px;
  right: -95px;
  max-width: unset;
  height: 940px;
  width: 894px;
}

/* Button */
.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30x;
  color: #fefefe;
  padding: 25px 45px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
}

.btn:hover {
  color: #fade3e;
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Destinations */
.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 460px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
  margin-bottom: 15px;
}

.destinations__title span {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.destinations__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: var(--secondary);
  margin-bottom: 60px;
}

/* Slider */

.slider {
  position: relative;
  z-index: 0;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  display: inline-block;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border: none;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
  left: -27px;
  justify-content: flex-start;
  padding-left: 26px;
}

.slider__btn--next {
  right: -27px;
  justify-content: flex-end;
  padding-right: 26px;
}

/* Customers */
.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: flex;
  column-gap: 68px;
}

.customers__img {
  max-width: 478px;
  border-radius: 60px;
}

.customers__img img {
  border-radius: 60px;
}

.customers__content {
  max-width: 565px;
}

.customers__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
  color: #0f1f1c;
  margin-bottom: 35px;
}

/* Review */
.review {
  max-width: 490px;
}

.review__client {
  margin-bottom: 60px;
  display: flex;
  column-gap: 33px;
  align-items: center;
}

.review__client-avatar {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff794e;
  overflow: hidden;
}

.review__client-description-name {
  font-weight: 500;
  font-size: 33px;
  line-height: 50px;
  color: #0f1f1c;
  margin-bottom: 10px;
}

.review__client-description-country {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: var(--secondary);
}

.review__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--secondary);
}

/* CTA */
.cta {
  padding: 100px 0;
}

.cta__plate {
  position: relative;
  padding: 115px 15px;
  text-align: center;
  background: #ffffff;
  border-radius: 60px;
}

.cta__plate::before,
.cta__plate::after {
  content: '';
  position: absolute;
  width: 63px;
  height: 83px;
}

.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url('./../img/cta-el-01.svg');
}

.cta__plate::after {
  background-image: url('./../img/cta-el-02.svg');
  top: 74px;
  right: 80px;
}

.cta__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
  color: #0f1f1c;
}

.cta__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: var(--secondary);
}

/* Subscribe */
.subscribe {
  padding: 20px 0 50px;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__title {
  max-width: 490px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
  margin-bottom: 60px;
}

.subscribe-form {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 12px 15px 12px 46px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #c4c4c4;
  border-radius: 35px;
}

.subscribe-form__input {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.subscribe-form__input::placeholder {
  color: var(--secondary);
}

.subscribe-form__btn {
  cursor: pointer;
  display: inline-block;
  padding: 34px 86px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 35px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}

.subscribe-form__btn:hover {
  color: #fade3e;
  transition: color 0.2s ease-in;
}

.subscribe-form__btn:active {
  position: relative;
  top: 1px;
}

/* Footer */
.footer {
  padding: 56px 0 70px;
  color: var(--secondary);
}

.logo--footer {
  color: var(--orange);
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
  display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
  color: var(--orange);
}

.nav__btn--footer {
  color: #fff;
  padding: 13px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
}
