.btn {
  display: inline-block;
  padding: 18px 37px 16px;
  border-radius: 29px;
  background-color: $accent-color;

  font-weight: 700;
  color: #ffffff;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $accent-color-hover;
  }
}
