.card-info {
  display: flex;
  align-items: center;

  padding: 32px 28px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
  img {
    width: 45px;
    height: 45px;
  }
}

.card-info__text {
  max-width: 177px;
  p {
    letter-spacing: 1.15px;
  }
}

.card-info__title {
  line-height: 1.5;
  letter-spacing: 0.8px;
}
