.provision {
  padding-bottom: 80px;
}

.provision__row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  @media (max-width: 1450px) {
    justify-content: flex-end;
  }
}

.provision__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.provision__text {
  flex-shrink: 0;
  max-width: 730px;
  padding-left: 180px;
  padding-right: 180px;

  p + p {
    margin-top: 20px;
  }
}

.provision__title {
  margin-bottom: 20px;
}

.provision__btn {
  margin-top: 40px;
  padding: 18px 39px 16px;
}
