* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

button,
input[type='submit'] {
  cursor: pointer;
  background: none;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
