@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: none; }

input,
button {
  border: none;
  font-size: inherit;
  font-family: inherit; }

button,
input[type='submit'] {
  cursor: pointer;
  background: none; }

input:focus,
button:focus {
  outline: none; }

ul,
li {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.68;
  font-weight: 400;
  color: #323232; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  .container--fluid {
    max-width: unset;
    padding: 0;
    width: 100%; }

.none {
  display: none; }

.nav {
  padding-top: 35px;
  padding-bottom: 33px; }

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px; }
  .logo img {
    margin-right: 10px;
    width: 35px;
    height: 35px; }

.navigation-list ul {
  display: flex;
  column-gap: 42px; }
.navigation-list a:hover {
  color: #f78434; }
.navigation-list a.active {
  font-weight: 700;
  color: #f78434; }

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__text {
  max-width: 465px; }
  .header__text p {
    font-weight: 400;
    line-height: 1.68;
    letter-spacing: 1.15px;
    margin-bottom: 42px; }

.header__title {
  position: relative;
  z-index: 1;
  margin-right: -160px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px; }

.header__img img {
  border-radius: 40px 40px 40px 0;
  width: 540px;
  height: 676px; }

.form {
  background: #ffffff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  transition: box-shadow 0.2s ease-in; }
  .form.active {
    box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27); }

.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px; }
  .form__label::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 28px;
    width: 24px;
    height: 19px;
    background-image: url("./../img/mail-icon.svg"); }

.form__input {
  padding-left: 72px;
  flex-grow: 1; }
  .form__input::placeholder {
    color: #bbbbbb; }

.btn {
  display: inline-block;
  padding: 18px 37px 16px;
  border-radius: 29px;
  background-color: #f78434;
  font-weight: 700;
  color: #ffffff;
  transition: background-color 0.2s ease-in; }
  .btn:hover {
    background-color: #ff6a00; }

.clients {
  padding: 100px 0 90px; }

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.provision {
  padding-bottom: 80px; }

.provision__row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }
  @media (max-width: 1450px) {
    .provision__row {
      justify-content: flex-end; } }

.provision__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }

.provision__text {
  flex-shrink: 0;
  max-width: 730px;
  padding-left: 180px;
  padding-right: 180px; }
  .provision__text p + p {
    margin-top: 20px; }

.provision__title {
  margin-bottom: 20px; }

.provision__btn {
  margin-top: 40px;
  padding: 18px 39px 16px; }

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.47;
  letter-spacing: 0.8px; }

.img-card {
  position: relative;
  width: 385px; }
  .img-card + .img-card {
    margin-left: 32px; }

.img {
  border-radius: 20px 20px 0 20px; }
  .img.img--rounded {
    border-radius: 20px; }

.img-card__info {
  position: absolute;
  bottom: 87px;
  right: -46px; }

.card-info {
  display: flex;
  align-items: center;
  padding: 32px 28px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px; }

.card-info__icon {
  margin-right: 20px; }
  .card-info__icon img {
    width: 45px;
    height: 45px; }

.card-info__text {
  max-width: 177px; }
  .card-info__text p {
    letter-spacing: 1.15px; }

.card-info__title {
  line-height: 1.5;
  letter-spacing: 0.8px; }

/*# sourceMappingURL=main.css.map */
